# Class files
*.class

# Package Files
*.jar
*.war
*.ear

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore web-site project
*web-site/

# Temporary files
.DS_STORE
*.log

# Maven related
/*/target/
target

# Netbeans related
nb-configuration.xml
nbactions.xml
nbproject

# Eclipse related
*.classpath
*.project
.settings

# IntelliJ related
.idea
*.iml
*.ipr
*.iws

# Jrebel related
rebel.xml
rebel-remote.xml

# design model
*.eab

.idea/workspace.xml
