# indicate this is the root of the project
root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
indent_size = 4
end_of_line = crlf
insert_final_newline = false

[*.html]
indent_size = 4
max_line_length = 80

[*.md]
trim_trailing_whitespace = false