rebel.xml
.idea/
*.iml
target/
*.class
*.jar
*.war
*.ear
hs_err_pid*
*.DS_Store
._*
.Trashes
.TemporaryItems
desktop.ini
Thumbs.db
$RECYCLE.BIN/
*.lnk
.metadata
.settings
.classpath
.mymetadata
.project