# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.war
*.ear
*.bk
.gradle
target
*.class
*.real

# virtual machine crash logs
# see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse Files #
.project
.classpath
.settings

# Idea
*.iml
*.ipr
*.iws
.idea

# log
*_IS_UNDEFINED
logs
*.log

# other
*.bak
.directory
.DS_Store


Test.java
example