/bin/
.idea/workspace.xml  
.idea/dictionaries/myj.xml  
.idea/  
.DS_Store  
*.classpath  
*.project  
.settings  
.project  
.target  
.classpath  
**/.settings  
**/.classpath  
**/.eclipse  
**/target/  
target/  
bin/  
.svn  
*.iml  