/bin/
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#ide config
.metadata
.recommenders
/bin/
.idea/workspace.xml  
.idea/dictionaries/myj.xml  
.idea/  
.DS_Store  
*.classpath  
*.project  
.settings  
.project  
.target  
.classpath  
**/.settings  
**/.classpath  
**/.eclipse  
**/target/  
target/  
bin/  
.svn  
*.iml  